{% extends 'hypatia_learn/base.html' %}

{% block main_content %}
<div class="main-content">
  <div class="row">
    <h2>{{info.display_name}}</h2>
    <p><strong>Pronouns: </strong>{{info.custom_5}}</p>
    <p><strong>About: </strong></p>{{info.custom_92|safe}}
    
    <p><strong>Hobbies: </strong>{{info.custom_93}}</p>
    <p><strong>Skills: </strong>
      {% for tag in info.tags %}
      {% if tag %}
      <span class="tag">{{tag}}</span>
      {% endif %}
      {% endfor %}
    </p>
    <figure>
      <img src="{{info.image_URL}}" alt="" class="img-circle img-responsive" />
    </figure>
    <a class="btn btn-success btn-block" href="{% url 'mentor_request' info.id %}"><span class="fa fa-plus-circle"></span> Request As Mentor </a>
    <button class="btn btn-info btn-block"><span class="fa fa-user"></span> Contact </button>
  </div>
</div>
{{info}}
<img alt="Profile Picture" src="{{info.image_URL}}&mime-type=image/jpg" />
{{info.image_URL}}
{% endblock %}
