{% extends 'hypatia_learn/base.html' %}

{% block main_content %}
{{ info }}
<div class="panel panel-primary">
	<div class="panel-heading text-center">
		<h3 class="panel-title">Find a Mentor!</h3>
	</div>
	<div class="panel-body text-left">
    <table class="table-striped" width="100%">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Pronouns</th>
        <th>Skills</th>
      </tr>
      {% for mentor in info.values %}
      <tr>
        {% for data in mentor.values %}
        {% if forloop.counter > 2 %}
        <td>{{data}}</td>
        {% elif forloop.counter == 2 %}
        <td><a class="btn btn-success" href="{% url 'mentor_display' data %}">More...</a></td>
        {% endif %}
        {% endfor %}
      </tr>

  {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
