{% extends 'hypatia_learn/base.html' %}

{% block main_content %}
<div class="main-content">
  <form action="/mentor/update/{{info.contact_id}}/" method="post" class="form-horizontal">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      <label class="control-label col-sm-2">{{ field.label }}</label>
      <div class="col-sm-10">
        {{ field }}
      </div>
    </div>
    {% endfor %}
    <input class="btn btn-block btn-success" type="submit" value="Update Profile" />
  </form>
</div>
{% endblock %}


