<section class="footer">
  <div class="footer-row">
    <div class="col-lg-9 col-md-8 col-sm-8 text-center">
      <a href="https://hypatia-org.slack.com" target="_blank">Chat</a>
      <a href="https://tasks.hypatiasoftware.org" target="_blank">Task Board</a>
      <a href="https://wiki.hypatiasoftware.org" target="_blank">Wiki</a>
      <a href="https://pad.hypatiasoftware.org" target="_blank">Notepad</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 copyright">
      Hypatia Software Org copyright &copy; 2018
    </div>
  </div>
  <div class="col-lg-9 col-md-8 col-sm-8 footer-bottom">
  </div>
  <div class="col-lg-3 col-md-4 col-sm-4 copyright">
    <a href="https://github.com/hypatia-software-org/hypatia-learn" target="_blank">Source Code</a>
  </div>
</section>
