<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href="static/img/hypatia_icon.png"/>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery.min.js"></script>
    {% bootstrap_javascript %}
    <title>{% block page_title %}Hypatia Learning Platform{% endblock %}</title>
  </head>
  <body>
    {% include 'hypatia_learn/parts/header.html' %}

    {% block main_content %}
    <section class="main_content">
    </section>
    {% endblock %}

    {% block footer %}
    <div class="footer">
    </div>
    {% endblock %}
  </body>
</html>
