<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href="/static/img/hypatia_icon.png"/>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    {% bootstrap_javascript %}
    <title>{% block page_title %}Hypatia Learning Platform{% endblock %}</title>
  </head>
  <body>
    {% include 'hypatia_learn/parts/header.html' %}
    <div class="content-wrapper">
      {% block main_content %}
      <section class="main_content">
      </section>
      {% endblock %}
    </div>

    {% block footer %}
    <div class="footer">
    </div>
    {% endblock %}
  </body>
</html>
